<h1><%=title%></h1>
<div class="card">
    <div class="card-body">
        <div><b>[<%=post.pid%>] <%=post.title%></b></div>
        <hr>
        <div><%=post.contents%></div>
    </div>
    <div class="card-footer" style="font-size:12px; color:gray">
        <span>작성자 : <%=post.writer%></span>
        <span class="ms-3">작성일 : <%=post.fdate%></span>
    </div>
</div>